& {
    .wrapper {
              height: px(1718);
  					  font-family: 'Montserrat Alternates';
    					background: linear-gradient(to bottom, rgba(254, 105, 58,.7) 0%,rgba(4, 2, 1,.7) 100%), url('../images/infoComponent/background_image_land.png');
  						background-size: cover;
  						a {
  							display: block;
  					    text-align: center;
  							img {
  									margin-top: px(220);
  									width: px(200);
  									height: px(200);
  									}
  								}

  						.log_in {
  										display: flex;
  										flex-direction: column;
  										align-items: center;
  										padding-top: px(230);
  										.name {
  													margin: px(20);
  												  width: px(650);
  												  padding: px(34) px(30) px(34) px(90);
  												  border: none;
  												  border-radius: px(60) px(60);
  													background: url("../images/infoComponent/icon-username.png") 7% 50% no-repeat, rgba(249, 249, 249, .17);
  													background-size: px(40);
  													outline: none;
  													}
  									.pass {
  												margin: px(20);
  												width: px(650);
  												padding: px(34) px(30) px(34) px(90);
  												border: none;
  												border-radius: px(60) px(60);
  												background: url("../images/infoComponent/icon-password.png") 7% 50% no-repeat, rgba(249, 249, 249, .17);
  												background-size: px(40);
  												outline: none;
  												}

  									input::-webkit-input-placeholder {
                          padding-left: px(20);
  												color: #fff;
  												font-size: px(22);
  												}

  									button {
  												background-color: #f96332;
  												margin: px(20);
  												width: px(650);
  												height: px(98);
  												outline: none;
  												border: none;
  												border-radius: px(60) px(60);
  												z-index: 2;
  												p {
  													color: #fff;
  													}
  												}
  										}

  						footer {
  										display: flex;
  								    margin: 0 auto;
  								    width: px(645);
  								    justify-content: space-between;
  										a {
  											display: inline-block;
  											color: #99948e;
  											font-size: px(22);
  											text-decoration: none;
  										}
  									}
  						}
  }
