@import '../mobile';
.wrapper {
          width: px(1536);
          height: px(1718);
          background: linear-gradient(to bottom, rgba(254, 105, 58,.7) 0%,rgba(4, 2, 1,.7) 100%), url('../images/infoComponent/background_image_tablet.png');
          background-size: cover;
          a {
            img {
                margin-top: px(430);
                width: px(240);
                height: px(250);
                }
            }

          .log_in {
                  padding-top: px(180);
                  .name {
                        padding: px(36) px(30) px(34) px(90);
                        margin: px(20);
                        width: px(650);
                        background: url("../images/infoComponent/icon-username.png") 6% 50% no-repeat, rgba(249, 249, 249, .17);
                        background-size: px(40);
                        }
                    .pass {
                          padding: px(36) px(30) px(34) px(90);
                          margin: px(18);
                          width: px(650);
                          background: url("../images/infoComponent/icon-password.png") 6% 50% no-repeat, rgba(249, 249, 249, .17);
                          background-size: px(40);
                          }

                      input::-webkit-input-placeholder {
                        	padding-left: px(30);
                          color: #fff;
                          font-size: px(26);
                          }

                      button {
                              color: #fff;
                              padding: px(36) 0 px(34) 0;
                              margin-top: px(70);
                              width: px(650);
                              }
                  }

          footer {
                  width: px(645);
                  margin: px(60) auto;
                  a {
                    font-size: px(23);
                    }
                  }
        }
